@{
    ViewBag.Title = "Manual";
}

<h2>Manual Validation</h2>

@*@Html.ValidationSummary(true)*@
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Họ và tên</label>
        @Html.TextBox("Name", null, new { @class = "form-control" })
        @Html.ValidationMessage("Name")
    </div>

    <div class="form-group">
        <label>Tuổi</label>
        @Html.TextBox("Age", null, new { @class = "form-control" })
        @Html.ValidationMessage("Age")
    </div>

    <div class="form-group">
        <button class="btn btn-default">Validate</button>
    </div>
}