@model CodeFirst.Models.Product
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<ul>
    <li>@Model.Name</li>
    <li>@Html.FormatValue(Model.UnitPrice, "{0:c}")</li>
    <li>@Html.FormatValue(Model.ProductDate, "{0:dd-MM-yyyy}")</li>
    <li>@Model.Category.NameVN</li>
</ul>