@model List<CodeFirst.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using(Html.BeginForm()){
    @Html.TextBox("Min", null, new { placeholder = "Min Price" })
    @Html.TextBox("Max", null, new { placeholder = "Max Price" })
    <button>Search</button>
}
<ul class="pager">
    <li><a href="/Product/Index?PageNo=0">First</a></li>
    <li><a href="/Product/Index?PageNo=@((int)Session["PageNo"]-1)">Prev</a></li>
    <li><a href="/Product/Index?PageNo=@((int)Session["PageNo"]+1)">Next</a></li>
    <li><a href="/Product/Index?PageNo=@((int)Session["PageCount"]-1)">Last</a></li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Unit Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.UnitPrice</td>
                <td>
                    <a href="/Product/Detail/@p.Id">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>
