
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>NameProduct</th>
            <th>Price</th>
            <th>PriceNew</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div id="UpdatePanel"></div>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-danger" id="btn-Add">Them moi</button>
@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $("#btn-Add").click(function () {
            debugger;
            $.ajax({

                type: 'GET',
                url: 'GetData/GetAllEmployee',
                dataType: 'json',
                data: {},
                success: function (data) {
                    LoadData(data);
                },
                error: function () {
                    alert("failed! please try again");
                }
            });
        });
        function LoadData(data) {
            var tab = $('<table class=table></table>');
            var thead = $('<thead></thead>');
            thead.append('<th>ProductID</th>');
            thead.append('<th>NameProduct</th>');
            thead.append('<th>Price</th>');
            thead.append('<th>PriceNews</th>');
            tab.append(thead);
            $.each(data, function (i, val) {
                var trow = $('<tr></tr>');
                trow.append('<td>' + val.ProductID + '</td>');
                trow.append('<td>' + val.NameProduct + '</td>');
                trow.append('<td>' + val.Price + '</td>');
                trow.append('<td>' + val.PriceNews + '</td>');
                tab.append(trow);
            });
            $("#UpdatePanel").html(tab);
        }
    });

</script>
    }
