
@{
    ViewBag.Title = "UseRequest";
}

<h2>Use Request</h2>
<a href="/ThamSo/UseRequest2?Id=123&Name=Tuấn&Marks=9">Link</a>
<form action="/ThamSo/UseRequest2" method="post">
    <div class="form-group">
        <label>Id</label>
        <input name="Id" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Fullname</label>
        <input name="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label>Marks</label>
        <input name="Marks" class="form-control" />
    </div>
    <button class="btn btn-default">Submit</button>
</form>
Mã: @ViewBag.Ma
<br />
Họ và tên: @ViewBag.HoTen
<br />
Điểm: @ViewBag.Diem

