
@{
    ViewBag.Title = "ShowHitCounter";
}

<h2>ShowHitCounter</h2>

<table class="table">
    <thead>
        <tr>
            <th>Url</th>
            <th>Counter</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in HitCounter.Counters)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>

