
@{
    ViewBag.Title = "Action1";
}

<h2>Action1</h2>
@ViewBag.Message

<form action="/ActionCaller/Action1" method="post">
    <button>Action1 - POST</button>

    <button formaction="/ActionCaller/Action2">Action 2 - POST</button>
    <button formaction="/NhatNghe">NhatNghe - POST</button>
</form>

