
@{
    ViewBag.Title = "Index";
}

<h2>Upload Form</h2>

<form action="/Uploader/Upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Hình ảnh</label>
        <input type="file" name="image" class="form-control" />
    </div>

    <div class="form-group">
        <label>Tài liệu</label>
        <input type="file" name="document" class="form-control" />
    </div>
    <button class="btn btn-default">Upload</button>
</form>

