
@{
    ViewBag.Title = "Upload";
}

<h2>Upload Result</h2>

<h3>HÌNH</h3>
<img src="/Files/@ViewBag.F1_Name"/>

<h3>TÀI LIỆU</h3>
<ul>
    <li>Name: @ViewBag.F2_Name</li>
    <li>Size: @ViewBag.F2_Size</li>
    <li>Type: @ViewBag.F2_Type</li>
</ul>

