<style>
    img{
        height:250px;
        max-width:99%;
    }
</style>

@foreach (var p in Model)
{
    <div class="col-sm-4 text-center">
        <div class="panel panel-default">
            <div class="panel-heading">@p.Name</div>
            <div class="panel-body">
                <img src="~/Images/products/@p.Image" />
            </div>
        </div>
    </div>
}
