
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul class="pager">
    <li><a href="#">First</a></li>
    <li><a href="#">Prev</a></li>
    <li><a href="#">Next</a></li>
    <li><a href="#">Last</a></li>
</ul>

<div class="panel panel-default">
    <div class="panel-heading nn-status">KẾT QUẢ</div>
    <div class="page"></div>
</div>

@section scripts{
    <script>
        pageNo = 0;
        pageCount = @ViewBag.PageCount;

        $(document).ready(function () {
            loadPage();
            $("ul.pager a:eq(0)").click(function () {
                pageNo = 0;
                loadPage();
            });
            $("ul.pager a:eq(1)").click(function () {
                if(pageNo == 0){
                    pageNo = pageCount - 1;
                }
                else{
                    pageNo--;
                }
                loadPage();
            });
            $("ul.pager a:eq(2)").click(function () {
                if(pageNo == pageCount - 1){
                    pageNo = 0;
                }
                else{
                    pageNo++;
                }
                loadPage();
            });
            $("ul.pager a:eq(3)").click(function () {
                pageNo = pageCount - 1;
                loadPage();
            });
        });

        function loadPage() {
            $.ajax({
                url: "/Paginate/Load",
                data:{PageNo: pageNo},
                success: function (response) {
                    $("div.page").html(response);
                    $(".nn-status").html((pageNo + 1) + "/" + pageCount);
                }
            });
        }
    </script>
}