
@{
    ViewBag.Title = "LoadMore";
}

<h2>LoadMore</h2>

<div class="page"></div>
<img class="loading" src="~/Images/loading.gif" style="display:none" />

@section scripts{
    <script>
        pageNo = 0;
        pageCount = @ViewBag.PageCount;

        $(document).ready(function () {
            loadPage();
            $(window).scroll(function(){
                var dh = $(document).height();
                var wh = $(window).height();
                var st = $(window).scrollTop();
                if(dh == wh + st && pageNo < pageCount){
                    pageNo++;
                    loadPage();
                }
            });
        });

        function loadPage() {
            $(".loading").show();
            $.ajax({
                url: "/Paginate/LoadMore",
                data:{PageNo: pageNo},
                type:"POST",
                success: function (response) {
                    $("div.page").append(response);
                    $(".loading").hide();
                }
            });
        }
    </script>
}