@model EF.Models.Category
@{
    ViewBag.Title = "List";
}
<style>
    img{
        max-width:95%;
        height:150px;
    }

</style>
<h2>@Model.NameVN</h2>
@foreach (var p in Model.Products)
{
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">@p.Name</div>
            <div class="panel-body">
                <a href="@Url.Action("Detail", new { Id = p.Id })">
                    <img src="~/images/products/@p.Image" />
                </a>
            </div>
            <div class="panel-footer">
                @p.UnitPrice
            </div>
        </div>
    </div>
}

