
@{
    ViewBag.Title = "Image";
}

<h2>Image</h2>
<button>Load</button>
<hr />

<img id="anh" src="~/Images/congphuong.jpg" />

@section scripts{
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $("#anh")
                    .attr("src", "https://i-thethao.vnecdn.net/2018/05/20/Untitled-9135-1526754696.jpg")
                    .load(function () {
                        $(this).fadeOut().fadeIn(1000);
                    });
            });
        });
    </script>
}