
@{
    ViewBag.Title = "Index";
}

<h2>Ajax Client</h2>
<h1 id="clock"></h1>

@section scripts{
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: "/Ajax/Time",
                    success: function (response) {
                        $("#clock").html(response);
                    }
                });
            }, 1000);
            
        });
    </script>
}

