
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<input id="kw" placeholder="Keywords" />
<hr />
<div id="result"></div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#kw").keyup(function () {
                var x = $("#kw").val();
                $.ajax({
                    url: "/Ajax/SearchAction",
                    data:{Keywords: x},
                    success: function (response) {
                        $("#result").html(response);
                    }
                });
            });
        });
    </script>
}