<div class="panel panel-default">
    <div class="panel-heading">@SiteOrg.i18n.Sharer.Supplier</div>
    <div class="list-group">
        @foreach (var item in ViewBag.Items)
        {
            <a class="list-group-item" href="#">@item</a>
        }
    </div>
</div>
