
@{
    ViewBag.Title = "Information";
}

<h2>Information</h2>
@ViewBag.Message
<ul>
    <li>Mã sinh viên: @ViewBag.ThongTin.Id</li>
    <li>Họ và tên: @ViewBag.ThongTin.Name</li>
    <li>Điểm trung bình: @ViewBag.ThongTin.Marks</li>
</ul>

