
@{
    ViewBag.Title = "Directive";
}

@helper Truncate(String input, int maxlength) { 
    if (input.Length < maxlength)
    {
        @input
    }
    else
    {
        @input.Substring(0, maxlength) @:...
    }
}
<h2>Directive</h2>

@Truncate(ViewBag.Message1, 100)
<hr>
@Truncate(ViewBag.Message2, 100)