
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content_box">
    <div class="th-tab" style="margin: 0;">
        <div class="th-tab-left">
            <span>hướng dẫn mua hàng</span>
        </div>
    </div>
    <div class="box_ct contenttext" style="min-height: 500px">
        <p>- Để mua hàng, đặt hàng online Quý khách kích chuột vào mua hàng. sẽ   hiện lên bảng thông tin hàng hóa, số tiền... Nếu muốn mua tiếp sản phẩm   khác các bạn kích quay lại và chọn sản phẩm rồi ấn mua hàng. Lúc này   trong danh sách mua hàng của Quý khách có 2 sản phẩm với đầy đủ thông   tin và số tiền. Nếu muốn mua tiếp Quý khách làm lại theo bước trên.</p>
        <p>- Sau khi đã chọn đủ các sản phẩm bạn muốn mua, hãy kích vào "hoàn  tất"  Sẽ hiện ra bảng để điền đầy đủ thông tin và yêu cầu của Quý khách.</p>
        <p>- Sau đó ấn gửi, nếu điền đúng và đủ sẽ có thông báo bạn đã gửi yêu  cầu  mua hàng thành công. Đến đây Quý khách đã hoàn thành việc mua hàng.</p>
        <p>- Sau khi chúng tôi nhận được yêu cầu mua hàng của Quý khách, chúng  tôi  sẽ liên hệ lại với Quý khách để thống nhất thời gian địa điểm giao  hàng.</p>
        <p>- Khi chúng tôi giao hàng tới địa điểm quý khách yêu cầu, Quý khách nhận  hàng và trả tiền. Việc mua hàng hoàn thành.</p>
        <p>- Thanh toán:</p>
        <p>+ Đối với các bạn ở khu vực Hà Nội chúng tôi sẽ giao hàng tận nơi và thu tiền.</p>
        <p>+  Đối với các bạn ở khu khực khác thì chuyển tiền hàng + tiền phí vận  chuyển vào tài khoản của chúng tôi, sau đó tôi sẽ gửi hàng đến tận địa  chủ khách hàng yêu cầu</p>
        <p>- Tài khoản của tôi:</p>
        <p>+ Tài khoản Cty CP đèn led Việt Nam: Ngân hàng BIDV: số TK: xxxxxxxxxxx, chi nhánh  Hà Nội</p>
        <p>+ Tài khoản cá nhân: Chủ tài khoản: Soul Eater- số TK: xxxxxxxxxx - Ngân hàng BIDV, chi nhánh TP Hà Nội</p>
    </div>
</div>



