
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>Origin: @ViewBag.Origin</li>
    <li>Encode: @ViewBag.Encode</li>
    <li>Decode: @ViewBag.Decode</li>
    <li>Md5: @ViewBag.Md5</li>
</ul>