<div class="nn-cart">
    <div class="panel panel-default">
        <div class="panel-body">
            <img class="col-sm-5 nn-cart-img" src="/images/shoppingcart.gif" />
            <ul class="col-sm-7">
                <li><span id="cart-cnt">@XSession.Cart.Count</span> items</li>
                <li>$ <span id="cart-amt">@XSession.Cart.Amount</span></li>
                <li><a href="/Cart/Index">View Cart</a></li>
            </ul>
        </div>
    </div>
</div>

<style id="cart-effect"></style>