<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list"></span>
        <strong>@EShop.i18n.Global.Category</strong>
    </div>

    <div class="list-group">
        @foreach (var item in Model)
        {
            if (Request.Cookies["lang"] != null && Request.Cookies["lang"].Value == "vi")
            {
                <a href="/Product/ListByCategory/@item.Id" class="list-group-item">@item.NameVN</a>
            }
            else
            {
                <a href="/Product/ListByCategory/@item.Id" class="list-group-item">@item.Name</a>
            }
        }
    </div>
</div>