<!-- Modal -->
<div id="send-dialog" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Gửi thông tin hàng hóa</h4>
            </div>
            <div class="modal-body">
                <input id="item-id" type="hidden">
                <div class="form-group">
                    <input id="from" placeholder="Người gửi" class="form-control" />
                </div>
                <div class="form-group">
                    <input id="to" placeholder="Người nhận" class="form-control" />
                </div>
                <div class="form-group">
                    <input id="subject" placeholder="Tiêu đề" class="form-control" />
                </div>
                <div class="form-group">
                    <textarea id="body" placeholder="Lời nhắn gửi" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default nn-btn-send">
                    <img src="~/images/loading.gif" />
                    Gửi đi
                </button>
            </div>
        </div>

    </div>
</div>